<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydh.iot.mapper.CommandPreferencesMapper">

    <resultMap type="com.sydh.iot.domain.CommandPreferences" id="CommandPreferencesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="command"    column="command"    />
        <result property="serialNumber"    column="serial_number"    />
    </resultMap>

    <sql id="selectCommandPreferencesVo">
        select id, name, command, serial_number from command_preferences
    </sql>

</mapper>
