<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydh.iot.mapper.ModbusConfigMapper">
    <resultMap type="com.sydh.iot.domain.ModbusConfig" id="ModbusConfigResult">
        <result property="id" column="id"/>
        <result property="identifier" column="identifier"/>
        <result property="address" column="address"/>
        <result property="isReadonly" column="is_readonly"/>
        <result property="dataType" column="data_type"/>
        <result property="quantity" column="quantity"/>
        <result property="type" column="type"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="productId" column="product_id"/>
        <result property="register" column="register"/>
        <result property="sort" column="sort"/>
        <result property="bitOrder" column="bit_order"/>
    </resultMap>

    <resultMap type="com.sydh.iot.domain.ModbusConfig" id="ModbusConfigShortResult">
        <result property="id" column="id"/>
        <result property="identifier" column="identifier"/>
        <result property="address" column="address"/>
        <result property="isReadonly" column="is_readonly"/>
        <result property="dataType" column="data_type"/>
        <result property="quantity" column="quantity"/>
        <result property="type" column="type"/>
        <result property="bitOrder" column="bit_order"/>
        <result property="productId" column="product_id"/>
        <result property="register" column="register"/>
    </resultMap>

    <sql id="selectModbusConfigVo">
        select id,
               product_id,
               register,
               identifier,
               address,
               is_readonly,
               data_type,
               quantity,
               type,
               bit_order,
               sort,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from iot_modbus_config
    </sql>

    <sql id="selectModbusConfigShortVo">
        select id,
               product_id,
               register,
               identifier,
               address,
               bit_order,
               is_readonly,
               data_type,
               quantity,
               type
        from iot_modbus_config
    </sql>

    <delete id="deleteByProductId" parameterType="Long">
        delete
        from iot_modbus_config
        where product_id = #{productId}
    </delete>

    <select id="selectListByProductIdAndIdentifiers" resultType="com.sydh.iot.domain.ModbusConfig">
        <include refid="selectModbusConfigVo"/>
        where product_id = #{productId}
        and identifier in
            <foreach collection="identifiers" item="identifier" open="(" separator="," close=")">
                #{identifier}
            </foreach>
        and del_flag = '0'
    </select>
</mapper>
