<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydh.iot.mapper.SubGatewayMapper">

    <resultMap type="com.sydh.iot.domain.SubGateway" id="GatewayResult">
        <result property="id"    column="id"    />
        <result property="parentClientId" column="parent_client_id"/>
        <result property="subClientId"    column="sub_client_id"    />
        <result property="address"    column="address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="parentProductId"    column="parent_product_id"    />
        <result property="subProductId"    column="sub_product_id"    />
    </resultMap>

    <resultMap id="GatewaySubDeviceResult" type="com.sydh.iot.model.gateWay.GateSubDeviceVO">
        <result property="deviceId"    column="device_id"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="deviceName"    column="device_name"    />
    </resultMap>

    <resultMap id="GatewaySubDeviceListResult" type="com.sydh.iot.model.gateWay.SubDeviceListVO">
        <result property="parentClientId" column="parent_client_id"/>
        <result property="subClientId"    column="sub_client_id"    />
        <result property="address"    column="address"    />
        <result property="subDeviceName" column="device_name"/>
        <result property="createTime"    column="create_time"    />
        <result property="subProductId" column="sub_product_id"/>
        <result property="subDeviceId" column="sub_device_id"/>
        <result property="id" column="id" />
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="SubDeviceListResult" type="com.sydh.common.extend.core.domin.mq.SubDeviceBo">
        <result property="parentClientId" column="parent_client_id"/>
        <result property="subClientId"    column="sub_client_id"    />
        <result property="address"    column="address"    />
        <result property="subDeviceName" column="device_name"/>
        <result property="subProductId" column="sub_product_id"/>
    </resultMap>

    <sql id="selectGatewayVo">
        select id, parent_client_id,  sub_client_id, address, create_by, create_time, update_by, update_time, remark, parent_product_id, sub_product_id from iot_sub_gateway
    </sql>

    <select id="selectGatewayList" parameterType="com.sydh.iot.domain.SubGateway" resultMap="GatewaySubDeviceListResult">
        select ga.id, ga.parent_client_id,  ga.sub_client_id, ga.address, ga.create_time, ga.parent_product_id, ga.sub_product_id, d.device_name, d.device_id sub_device_id, status
        from iot_sub_gateway ga inner join iot_device d on ga.sub_client_id = d.serial_number
        <where>
            d.del_flag = '0'
            <if test="gateway.parentClientId != null and gateway.parentClientId != '' ">
                and ga.parent_client_id = #{gateway.parentClientId}
            </if>
            <if test="gateway.subClientId != null and gateway.subClientId != '' ">
                and ga.sub_client_id = #{gateway.subClientId}
            </if>
        </where>
    </select>

    <select id="getIsSelectGateSubDevice" parameterType="com.sydh.iot.model.gateWay.GateSubDeviceVO"
            resultMap="GatewaySubDeviceResult">
        select d.device_id,d.serial_number,d.device_name
        from iot_device d inner join iot_product p on d.product_id = p.product_id
        <where>

            and NOT EXISTS (select 1 from iot_sub_gateway sg where d.serial_number = sg.sub_client_id)
            and p.device_type = 4
            <if test="subDeviceVO.serialNumber != null and subDeviceVO.serialNumber != ''">
               and d.serial_number = #{subDeviceVO.serialNumber}
            </if>
            <if test="subDeviceVO.deviceName != null and subDeviceVO.deviceName != ''">
                and d.device_name = #{subDeviceVO.deviceName}
            </if>
        </where>
    </select>

    <select id="selectSlaveIdBySubDeviceId" resultType="java.lang.String">
        select address
        from iot_sub_gateway
        where sub_client_id = #{subDeviceId}
    </select>

    <select id="selectSubModbusParamsVO" resultType="com.sydh.iot.model.gateWay.GateSubDeviceParamsVO">
        select sg.address, sg.sub_client_id serial_number, mp.deter_timer
            from iot_sub_gateway sg
            join iot_device d on sg.parent_client_id = d.serial_number
            join iot_modbus_params mp on d.product_id = mp.product_id
        where sg.parent_client_id = #{parentClientId}
          and sg.address in
            <foreach collection="addressList" item="address" open="(" separator="," close=")">
                #{address}
            </foreach>
    </select>
</mapper>
