<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydh.iot.mapper.ThingsModelTranslateMapper">
        <resultMap type="ThingsModelTranslate" id="ThingsModelTranslateResult">
        <result property="id"    column="id"    />
        <result property="zhCn"    column="zh_cn"    />
        <result property="enUs"    column="en_us"    />
        <result property="productId"    column="product_id"    />
    </resultMap>

    <sql id="selectThingsModelTranslateVo">
        select id, zh_cn, en_us, product_id from iot_things_model_translate
    </sql>
    
    

    </mapper>
